@font-face {
	font-family: SOURCE SANS PRO SEMIBOLD;
	src: url("../fonts/SOURCESANSPRO-SEMIBOLD.otf") format("opentype");
}
body{
	background: url(../../Assets/configurator/BG.png) no-repeat center center; 
	overflow-x:hidden;
	overflow-y:hidden;
    margin: 0 auto;
    padding: 0;
	background-size:cover;
	background-attachment:fixed;
}

#main_container
{
	position: absolute;
	width: 1280px;
	height: auto;
    top: 0;
}
.main_header
{
	
}

.dz_product
{
	float: right;
	display: inline-block;
    margin-right:25px;
    margin-top: 0px;
}

	#dz1
	{
		width: 79px;
		height: 90px;
		background-image: url("../../Assets/configurator/Button/DZ1_Y.png");
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 20px;
	}

	#dz2
	{
			width: 79px;
			height: 90px;
	    	background-image: url("../../Assets/configurator/Button/DZ2_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
			 margin-right: 20px;
	}

	#dz4
	{
			width: 79px;
			height: 90px;
	    	background-image: url("../../Assets/configurator/Button/DZ4_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
			margin-right: 20px;
	}

	#dz5
	{
			width: 79px;
			height: 90px;
	    	background-image: url("../../Assets/configurator/Button/DZ6_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
		    margin-right: 20px;
	}

	#dz7
	{
			width: 79px;
			height: 90px;
	    	background-image: url("../../Assets/configurator/Button/DZ7_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
			margin-right: 20px;
	}


   #aux_tac
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/Aux-Tac_Y.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#uv_shunt
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/UV_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#box_champ
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#spreaders
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/Spreaders_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#rear_stud
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/RearStud_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#rom
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/ROM_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#plugin_con
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#drawout
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}
	
	#mil
	{
		width:170px;
    	height: 34px;
    	background-image: url("../../Assets/configurator/Button/MIL_B.png");
    	background-repeat: no-repeat;
    	display: inline-block;
	}
	.acc_menu
	{
	    position: absolute;
	    width: 1280px;
	    height: 50px;
		top: 148px;
	}


	.acc_main_menu
	{
		position: absolute;
		top: 4px;
		left: 203px;
	}

	.trip_section
	{
		position: relative;
		width: 1280px;
		height: auto;
		float: left;
		margin-top: 69px;
		margin-left: 10%;
	}
.product_img{
	position: absolute;
    z-index: 199;
	/*display:none;
	transform: scale(0.9);
    margin-left:165px;
    margin-top: 10px;*/
	top: 85px;
    left: 280px;
	width:580px;
	transform: scale(0.9);
}
#prod_text{
	position: absolute;
    top: 60px;
    left: -64px;
}
#prod_iid{
	color:#ff00ff;
}
#prod_gid{
	color:#fe5d05;
}
#prod_dzno{
	color:#207f06;	
}
#prod_dzid{
	color:#c1272d;
}
.prod_content{
	font-size: 24px;
    font-weight: bold;
	font-family: SOURCE SANS PRO SEMIBOLD;
}
.product_display
{
    position: absolute;
    width: 1000px;
    top: 28px;
    left: 120px;
}
.itrp_img{
		position: absolute;
		top: 0px;
		/*display:none;
		left: 0px;*/
		z-index: 0;
		top: 85px;
		left: 280px;
		width:580px;
		/*margin-left: 165px;
		margin-top: 15px;*/
		transform: scale(0.9);
		}

.product_video
{
	position: absolute;
    width: 580px;
	top: 85px;
    left: 280px;
    z-index: 1;
	/* display:none; */
}
.video_btn{
	/*margin-top: -125px;
    margin-left: 875px;*/
        z-index: 780;
    position: absolute;
    top: 325px;
    left: 750px;
}
	.trip_menu
	{
	    position: absolute;
		top: -30px;
		left: 425px;
	}

	.trip_icon
	{
		margin-right: 20px;
	}

	.conf_title
	{
		position: relative;
		width: 100px;
		top: -50px;
	}

	.tmr_bkp
	{
		position: absolute;
		top: 0px;
		left: 75px;
	}

	#conf_title
	{
    position: absolute;
    left: -65px;
	}
	.graph
	{
    position: relative;
    margin-top: 116px;
    left: -93px;
	}
	.dz_graph{
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.cur_rating
	{
	    top: 340px;
		position: absolute;
		left: -93px;
	}
	.footer
	{
		position: absolute;
		width: 1280px;
		float: left;
		left: 33px;
		top: 540px;
	}
	.prod_def
	{
		margin-left: -24px;
	}