@font-face {
	font-family: SOURCE SANS PRO SEMIBOLD;
	src: url("../fonts/SOURCESANSPRO-SEMIBOLD.otf") format("opentype");
}
body{
	background: url(../../Assets/configurator/BG.png) no-repeat center center; 
	overflow-x:hidden;
	overflow-y:hidden;
    margin: 0 auto;
    padding: 0;
	/*background-size:cover;
	background-attachment:fixed;*/
	width: 100%;
	height: 100%;
}

#header{
	position: absolute;	
	width:100%;;
}
.main_header{
	margin-top: 15px;
}
#bottom{
	bottom: 0;
    position: absolute;
    width: 1280px;
}
#main_container
{
	position: absolute;
	width: 100%;;
	height: 100%;;
    top: 0;
}
.logo{
	position: absolute;
    left: 85px;
    top: 70px;
}
.dz_product
{
	float: right;
    margin-right:25px;
    margin-top: -25px;
}

	#dz1
	{
		width: 79px;
		height: 90px;
		/*background-image: url("../../Assets/configurator/Button/DZ1_Y.png");
		background-repeat: no-repeat;*/
		display: inline;
		margin-right: 20px;
	}

	#dz2
	{
			width: 79px;
			height: 90px;
	    	/*background-image: url("../../Assets/configurator/Button/DZ2_B.png");
	    	background-repeat: no-repeat;*/
	    	display: inline;
			 margin-right: 20px;
	}

	#dz4
	{
			width: 79px;
			height: 90px;
	    	/*background-image: url("../../Assets/configurator/Button/DZ4_B.png");
	    	background-repeat: no-repeat;*/
	    	display: inline;
			margin-right: 20px;
	}

	#dz6
	{
			width: 79px;
			height: 90px;
	    	/*background-image: url("../../Assets/configurator/Button/DZ6_B.png");
	    	background-repeat: no-repeat;*/
	    	display: inline;
		    margin-right: 20px;
	}

	#dz7
	{
			width: 79px;
			height: 90px;
	    	/*background-image: url("../../Assets/configurator/Button/DZ7_B.png");
	    	background-repeat: no-repeat;*/
	    	display: inline;
			margin-right: 20px;
	}


   #aux_tac
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/Aux-Tac_Y.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#uv_shunt
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/UV_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#box_champ
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#spreaders
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/Spreaders_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#rear_stud
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/RearStud_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#rom
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/configurator/Button/ROM_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#plugin_con
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#drawout
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}
	
	#mil
	{
		width:170px;
    	height: 34px;
    	background-image: url("../../Assets/configurator/Button/MIL_B.png");
    	background-repeat: no-repeat;
    	display: inline-block;
	}
	.acc_menu
	{
	    position: absolute;
	    width: 1280px;
	    height: 50px;
		top: 148px;
	}


	.acc_main_menu
	{
		position: absolute;
		top: 4px;
		left: 203px;
	}

	.trip_section
	{
		position: relative;
		width: 1280px;
		height: auto;
		float: left;
		margin-top: 69px;
	}
#prod_text{
	position: absolute;
    left: 50px;
    top: 265px;
}
#prod_iid{
	color:#ff00ff;
}
#prod_gid{
	color:#fe5d05;
}
#prod_dzno{
	color:#207f06;	
}
#prod_dzid{
	color:#c1272d;
}
.prod_content{
	font-size: 26px;
    font-weight: bold;
	font-family: SOURCE SANS PRO SEMIBOLD;
}
.product_display
{
    position: absolute;
    width: 1000px;
    top: 28px;
    left: 120px;
}
.product_img{
	position: absolute;
    z-index: 199;
	/*display:none;
	transform: scale(0.9);
    margin-left:165px;
    margin-top: 10px;*/
	top: 230px;
    left: 285px;
	width:780px;
	transform: scale(0.9);
}
.itrp_img{
		position: absolute;
		top: 0px;
		/*display:none;
		left: 0px;*/
		z-index: 0;
		top: 230px;
		left: 285px;
		width:780px;
		/*margin-left: 165px;
		margin-top: 15px;*/
		transform: scale(0.9);
		}

.product_video
{
	position: absolute;
    width: 780px;
    top: 230px;
    left: 285px;
    z-index: 1;
    /* display: none; */
}
.video_btn{
	/*margin-top: -125px;
    margin-left: 875px;*/
    z-index: 780;
    position: absolute;
    top: 595px;
    right: 40px;
}
	.trip_menu
	{
	    position: absolute;
		top: 200px;
		left: 570px
	}

	.trip_icon
	{
		margin-right: 20px;
	}

	.conf_title
	{
		position: relative;
		width: 100px;
		top: 20px;
	}

	.tmr_bkp
	{
		position: absolute;
		top: 225px;
		left: 205px;
	}

	#conf_title
	{
		position: absolute;
		left: 60px;
		top: 0px;
	}
	.graph
	{
		position: relative;
		top: 275px;
		left: 30px;
	}
	.dz1_graph
	{
		position: relative;
		z-index:100;
	}
	.dz_graph{
		position: absolute;
		left: 0px;
		top: 0px;
	}
	.dz_graph_txt{
		position:absolute;
		top: 175px;
		left: 90px;
	}
	
	.dz1_graph_ftxt{
		position:absolute;
		top: 118px;
		left: 85px;
	}
	.dz1_graph_ctxt{
		position:absolute;
		top: 107px;
		left: 122px;
		
	}
	.dz1_graph_dtxt{
		position:absolute;
		top: 87px;
		left: 155px;
	}
	.dz1_graph_ntxt{
		position:absolute;
		top: 69px;
		left: 190px;
	}
	.dz2_graph_ntxt{
		position:absolute;
		top: 112px;
		left: 80px;
	}
	.dz2_graph_htxt{
		position:absolute;
		top: 89px;
		left: 118px;
	}
	.dz2_graph_ltxt{
		position: absolute;
		top: 73px;
		left: 150px;
	}
	.dz_graph_ntxt{
		position: absolute;
		top: 129px;
		left: 80px;
	}
	.dz_graph_htxt{
		position: absolute;
		top: 120px;
		left: 115px;
	}
	
	.dz_graph_ltxt{
		position: absolute;
		top: 106px;
		left: 150px;
	}
	.dz_graph_ytxt{
		position: absolute;
		top: 77px;
		left: 183px;
	}
	#graph_rbtn{
		position: absolute;
		left: 238px;
		top: 155px;
	}
	#graph_bbtn{
		position: absolute;
		left: 238px;
		top: 93px;
	}
	#graph_ybtn{
		position: absolute;
		left: 238px;
		top: 31px;
		
	}
	.dz_dimension{
		position: absolute;
		left: 30px;
	}
	.dz_trp_dimension
	{
		position: absolute;
		left: 315px;
	}
	.cur_rating
	{
	   top: 590px;
	   position: absolute;
       left: 30px;
	}
	.footer
	{
		position: absolute;
		width: 1280px;
		float: left;
		top: 700px;
	}
	.prod_def
	{
		margin-left: -36px;
	}