body{
  background: url(../../Assets/BG_1920X1080.jpg) no-repeat center center; 
overflow-x:hidden;
}

#main_container
{
	position: absolute;
	width: 1920px;
	height: auto;
    top: 0px;
     transform: scale(0.8);
}

.dz_product
{
	float: right;
	width: 771px;
	height: 135px;
	display: inline-block;
    margin-right: 22%;
    margin-top: -40px;
}

	#dz1
	{
		width: 118px;
		height: 135px;
		background-image: url("../../Assets/data/Configurator/DZ1-160/DZ1_Y.png");
		background-repeat: no-repeat;
		display: inline-block;
	}

	#dz2
	{
			width: 118px;
			height: 135px;
	    	background-image: url("../../Assets/data/Configurator/DZ2-160/DZ2_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#dz4
	{
			width: 118px;
			height: 135px;
	    	background-image: url("../../Assets/data/Configurator/DZ4-250/DZ4_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#dz5
	{
			width: 118px;
			height: 135px;
	    	background-image: url("../../Assets/data/Configurator/DZ6-400/DZ6_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#dz7
	{
			width: 118px;
			height: 135px;
	    	background-image: url("../../Assets/data/Configurator/DZ7-800/DZ7_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}


   #aux_tac
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/data/Configurator/Asset/Button/Aux-Tac_Y.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#uv_shunt
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/data/Configurator/Asset/Button/UV_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#box_champ
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#spreaders
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/data/Configurator/Asset/Button/Spreaders_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#rear_stud
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/data/Configurator/Asset/Button/RearStud_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#rom
	{
			width:170px;
	    	height: 34px;
	    	background-image: url("../../Assets/data/Configurator/Asset/Button/ROM_B.png");
	    	background-repeat: no-repeat;
	    	display: inline-block;
	}

	#plugin_con
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#drawout
	{
			width:170px;
	    	height: 34px;
	    	display: inline-block;
	}

	#mil
	{
		width:170px;
    	height: 34px;
    	background-image: url("../../Assets/data/Configurator/Asset/Button/MIL_B.png");
    	background-repeat: no-repeat;
    	display: inline-block;
	}
	.acc_menu
	{
	    position: absolute;
	    width: 1920px;
	    height: 50px;
		top: 148px;
		left: -308px;
	}


	.acc_main_menu
	{
		position: absolute;
		top: 5px;
    left: 11%;
    transform: scale(0.85);
	}

	.trip_section
	{
		position: relative;
		width: 1200px;
		height: auto;
		float: right;
		margin-top: 69px;
		margin-right: 15%;
		transform:scale(0.8);
	}
.product_img{
	position: absolute;
    z-index: 199;
	/*display:none;
	transform: scale(0.9);
    margin-left:165px;
    margin-top: 10px;*/
	top: 85px;
    left: 280px;
	height: 500px;
	width:840px;
}
.product_display
{
    position: absolute;
    width: 1000px;
    top: 28px;
    left: 120px;
}
.itrp_img{
		position: absolute;
		top: 0px;
		/*display:none;
		left: 0px;*/
		z-index: 0;
		top: 85px;
		left: 280px;
		height: 500px;
		width:840px;
		/*margin-left: 165px;
		margin-top: 15px;*/
		
		}

.product_video
{
    /*position: absolute;
    width: 600px;
    top: -56px;
    left: 96px;
    z-index: 1;
    transform: scale(0.7); */
	
	position: absolute;
    width: 840px;
	top: 85px;
    left: 280px;
    z-index: 1;
	height: 500px;
	/* display:none; */
}
.video_btn{
	/*margin-top: -125px;
    margin-left: 875px;*/
    z-index: 780;
	position:absolute;
	top:485px;
	left:1024px;
}
	.trip_menu
	{
	    position: absolute;
	    top: -37px;
	    left: 204px;
	}

	.trip_icon
	{
		margin-right: 20px;
	}

	.conf_title
	{
		position: relative;
		width: 100px;
		top: -50px;
	}

	.tmr_bkp
	{
		position: absolute;
		top: 0px;
		right: 53px;
	}

	#conf_title
	{
    position: absolute;
    margin-top: -20px;
    left: -60px;
	}
	.graph
	{
    position: relative;
    margin-top: 116px;
    left: -182px;
	}
	.cur_rating
	{
	    position: relative;
	    left: -183px;
	}
	.footer
	{
		position: relative;
		width: 1500px;
		float: left;
		left: -187px;
	}
		.main_header
	{
    margin-left: -26%;
    transform: scale(0.8);
    margin-top: -27px;
	}
	.prod_def
	{
		margin-left: -24px;
	}